.card {
    background-color: $surface;
    border: 0.25px solid $border;
}

.card-link, .card-link:hover {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    .card {
        background-color: $highlight;
    }
}
