.card {
    background-color: $surface;
    border: 0.25px solid $border;
    margin-bottom: 0.66em;
}

.card-container, .card-container:hover {
    color: inherit;
    text-decoration: none;
}

.card-container:hover {
    .card {
        background-color: $highlight;
    }
    .card-link {
        color: $link;
        text-decoration: underline;
    }
}

.card-link {
    text-decoration: underline;
}
