.deck {
    border-radius: 4px;
    background-color: red;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.1em;
    background-color: $surface;
    border: 0.25px dashed $border;
}
