.nav-pills .nav-link {
    text-decoration: none;
    border: 0.25px solid $surface;
    -webkit-tap-highlight-color: transparent;
}

.nav-pills .nav-link:hover {
    color: $link;
    border: 0.25px solid $surface;
}

.nav-pills .nav-link:focus {
    outline: none;
    box-shadow: none;
}

.nav-pills .nav-link.active {
    color: black;
    background-color: $highlight;
    border: 0.25px solid $border;
}

.nav-pills .nav-link.active:hover {
    color: $link;
}
