// Colors
$border: rgba(47,79,79,0.33);
$highlight: rgba(47,79,79,0.05);
$surface:  rgba(245,245,245,1);

// Typography
$font-size-base: 1rem; // 16px
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$headings-font-family: -apple-system, BlinkMacSystemFont, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$headings-font-weight: 600;