// Accessory colors
// $grey-dark: rgba(196,197,198,1);
$grey-dark: rgba(47,79,79,0.33);
$grey-light: rgba(47,79,79,0.05);
$footer-light: rgba(121,140,156,1);

// Typography
$font-size-base: 16px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$headings-font-family: -apple-system, BlinkMacSystemFont, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$headings-font-weight: 600;